<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavGroup Title="Repository Manager" @bind-Expanded="expanded" Icon="@(new Icons.Regular.Size20.AppsList())">
                <FluentNavLink Href="/repositorymanager/nexuse" Icon="@(new Icons.Regular.Size20.Attach())">Nexuse</FluentNavLink>
                <FluentNavLink Href="/repositorymanager/note" Icon="@(new Icons.Regular.Size20.Note())">Note</FluentNavLink>
                <FluentNavLink Href="/repositorymanager/vibration" Icon="@(new Icons.Regular.Size20.Speaker2())">Vibration</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
